// COLOURS
$white: #FFFFFF;
$accent: #462681;

// FONTS & TEXT
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');
$font-main: 'Source Sans Pro', sans-serif;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: rgb(220, 220, 228);
}

.body-wrapper{
  width: 100%;
  min-height: 100vh;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper{
  display: block;
  width: 100%;
  max-width: 375px;
  margin: auto auto;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 53px max-content;
}

.page-header{
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  display: block;
  height: 270px;
  padding: 15px 15px 40px 15px;
  background-image: url("assets/header-image.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__go-back{
    width: fit-content;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
    color: $white;
    font-family: $font-main;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.438rem;

    svg{
      margin-right: 10px;
    }
  }
}

.content-wrapper{
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  background-color: $white;
  border: 1px solid $white;
  border-radius: 40px 40px 0 0;
  padding: 19px 24px 5px 24px !important;
  display: block;
  height: fit-content;
}

.content-header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__name{
    color: $accent;
    font-family: $font-main;
    font-weight: 900;
    font-size: 2.75rem;
    line-height: 3.438rem;
  }

  &__menu-btn{
    all: unset;
    width: 26px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    cursor: pointer;

    .dot{
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $accent;
    }
  }
}

.follow{
  &__btn{
    all: unset;
    display: flex;
    align-items: center;

    color: $accent;
    font-family: $font-main;
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 1.125rem;
    cursor: pointer;

    svg{
      margin-right: 5px;
    }
  }
}

.stats{
  margin: 20px 0px;
  display: flex;
  justify-content: space-around;

  border-top: 1px solid $accent;
  border-bottom: 1px solid $accent;
  padding: 6px 0 11px 0;

  .stat{
    &__val{
      color: $accent;
      font-family: $font-main;
      font-weight: 900;
      text-align: center;

      &--number{
        font-size: 1.5rem;
        line-height: 1.938rem;
      }

      &--name{
        font-size: 0.875rem;
        line-height: 1.125rem;
        margin-top: -6px;
      }
    }
  }
}

.categories{
  &__title{
    color: $accent;
    font-family: $font-main;
    font-weight: 900;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 10px;
  }

  .category{
    padding: 20px 0;
    border-bottom: 1px solid $accent;

    &__btn{
      all: unset;
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      color: $accent;
      font-family: $font-main;
      font-weight: 400;
      font-size: 1.563rem;
      line-height: 2rem;
    }
  }
}